.page-header__actions {
  justify-content: space-between;
  width: 100%;
}
.ai-help__text {
  justify-content: center;
  text-align: center;
}
.ai-help {
  padding: 10px;
  font-size: 1rem;
}
.page-header {
  padding: 10px 20px;
  font-size: 1rem;
}
.page-footer__element {
  padding: 5px;
}
.page-menu {
  column-gap: 1vw;
}
.page-header__options {
  column-gap: 0.5rem;
  align-items: center;
}
.page-actions {
  padding: 5px 20px;
  justify-content: space-between;
}
.page-registration {
  padding: 8px 15px;
  border-radius: 7px;
}
.log-in {
  background-color: transparent;
  border: 0;
}
.page-search {
  width: 4rem;
  padding: 4px 0;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid;
  border-color: var(--text-secondary);
}
.page-search:focus {
  color: var(--text-secondary);
  padding: 4px 10px;
}
.page-header__name {
  display: flex;
  align-items: center;
}
.menu-button__btn:before {
  content: url(../images/Снимок\ экрана\ 2023-11-06\ 234927.png);
}
.menu-button__btn {
  background-color: transparent;
  border: 0px;
  display: none;
  align-items: center;
}
